doctype html
html(lang="en")
  head
    title= pageTitle
    script(type="text/javascript").
      if (foo) bar(1 + 5)
  body
    h1 Pug - node template engine
    #container.col(attr="foo" attr2!="bar", class=[1,2,3][2])
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p #{foo("string", 11)}
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.

    each item, i in List
      p(class=i % 2 == 0 ? "even" : "odd") #{item}
